<div class="bg-dark" id="tempaltemo_footer">
    <div class="container">
        <div class="row">

            <div class="col-md-4 pt-5">
                <h2 class="h2 text-light border-bottom pb-3 border-light">Thông Tin</h2>
                <ul class="list-unstyled text-light footer-link-list">
                    <li><a class="text-decoration-none" href="#">SƠ ĐỒ TRANG WEB</a></li>
                    <li><a class="text-decoration-none" href="#">SHIPPING & RETURNS</a></li>
                    <li><a class="text-decoration-none" href="#">QUYỀN RIÊNG TƯ</a></li>
                    <li><a class="text-decoration-none" href="#">ĐIỀU KHOẢN SỬ DỤNG</a></li>
                    <li><a class="text-decoration-none" href="#">GIỚI THIỆU</a></li>
                    <li><a class="text-decoration-none" href="#">LIÊN HỆ CHÚNG TÔI</a></li>
                </ul>
            </div>

            <div class="col-md-4 pt-5">
                <h2 class="h2 text-light border-bottom pb-3 border-light">Dịch Vụ Khách hàng</h2>
                <ul class="list-unstyled text-light footer-link-list">
                    <li><a class="text-decoration-none" href="#">TÌM KIẾM</a></li>
                    <li><a class="text-decoration-none" href="#">TIN TỨC</a></li>
                    <li><a class="text-decoration-none" href="#">SẢN PHẨM ĐÃ XEM GẦN ĐÂY</a></li>
                    <li><a class="text-decoration-none" href="#">SẢN PHẨM MỚI</a></li>
                </ul>
            </div>

            <div class="col-md-4 pt-5">
                <h2 class="h2 text-light border-bottom pb-3 border-light">Tài Khoản Của Tôi</h2>
                <ul class="list-unstyled text-light footer-link-list">
                    <li><a class="text-decoration-none" href="#">TÀI KHOẢN CỦA TÔI</a></li>
                    <li><a class="text-decoration-none" href="#">ĐƠN ĐẶT HÀNG</a></li>
                    <li><a class="text-decoration-none" href="#">ĐỊA CHỈ</a></li>
                </ul>
            </div>

        </div>

        <div class="row text-light mb-4">
            <div class="col-12 mb-3">
                <div class="w-100 my-3 border-top border-light"></div>
            </div>
            <div class="col-auto me-auto">
                <h4>THEO DÕI CHÚNG TÔI</h4>
                <ul class="list-inline text-left footer-icons">
                    <li class="list-inline-item text-center">
                        <a class="text-light text-decoration-none" target="_blank"
                            href="http://facebook.com/0972695xxx"><i class="bi bi-facebook"
                                style="font-size: 30px;"></i></a>
                    </li>
                    <li class="list-inline-item text-center">
                        <a class="text-light text-decoration-none" target="_blank"
                            href="https://www.instagram.com/"><i class="bi bi-instagram"
                                style="font-size: 30px;"></i></a>
                    </li>
                    <li class="list-inline-item text-center">
                        <a class="text-light text-decoration-none" target="_blank" href="https://twitter.com/"><i
                                class="bi bi-twitter" style="font-size: 30px;"></i></a>
                    </li>
                    <li class="list-inline-item text-center">
                        <a class="text-light text-decoration-none" target="_blank"
                            href="https://www.linkedin.com/"><i class="bi bi-linkedin"
                                style="font-size: 30px;"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-auto">
                <label class="sr-only" for="subscribeEmail">Email address:</label>
                <div class="input-group mb-2">
                    <input type="text" class="form-control bg-dark border-light text-light" id="subscribeEmail"
                        placeholder="Email address">
                    <button class="btn btn-outline-success">Subscribe</button>
                </div>
            </div>
        </div>
    </div>

    <div class="w-100 bg-black py-3 text-center">
        <div class="container">
            <div class="row pt-2">
                <div class="col-12">
                    <div>
                        <span class="footer-disclaimer text-white">
                            Bản quyền © 2023 M.O.I Cosmetics. Đã đăng ký Bản Quyền
                        </span>
                        <p class="text-light">
                            CÔNG TY TNHH DỊCH VỤ CÔNG NGHỆ SAKURA
                            <br>
                            MÃ SỐ THUẾ: 0123456789
                            <br>
                            ĐIỆN THOẠI: 0972695xxx
                            <br>
                            ĐỊA CHỈ: Tầng M, 117-119 Lý Chính Thắng, Phường Võ Thị Sáu, Quận 3, Thành Phố Hồ Chí
                            Minh
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>