<nav class="navbar navbar-expand-lg bg-dark navbar-light d-none d-lg-block" id="templatemo_nav_top">
    <div class="text-light container">
        <div class="w-100 d-flex justify-content-between">
            <div>
                <i class="fa fa-envelope mx-2"></i>
                <a class="navbar-sm-brand text-light text-decoration-none"
                    href="mailto:nguyenxuantu306203@gmail.com">nguyenxuantu306203@gmail.com</a>
                <i class="fa fa-phone mx-2"></i>
                <a class="navbar-sm-brand text-light text-decoration-none" href="tel:0972695221">0972-695-xxx</a>

            </div>
            <div>
                <a class="text-light" href="https://fb.com/0972695xxx" target="_blank" rel="sponsored"><i
                        class="bi bi-facebook"></i></i></a>
                <a class="text-light" href="https://www.instagram.com/" target="_blank"><i
                        class="bi bi-instagram"></i></i></a>
                <a class="text-light" href="https://twitter.com/" target="_blank"><i class="bi bi-twitter"></i></i></a>
                <a class="text-light" href="https://www.linkedin.com/" target="_blank"><i
                        class="bi bi-linkedin"></i></a>
                <span> | </span>
                <span id="clock"></span>
            </div>
        </div>
    </div>
</nav>
<div class="container-fluid navbar navbar-expand-lg bg-light">
    <a class="navbar-brand" href="#!/">
        <img src="/img/logo.png" class="img-fluid" alt="M.O.I Cosmetics" title="M.O.I Cosmetics" style="width: 112px;">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    DA BY M.O.I
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Mặt Nạ</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    MICKEYS MAGIC
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Son Dưỡng Magic Lips</a></li>
                    <li><a class="dropdown-item" href="#">Má Hồng Glowing Cheeks</a></li>
                    <li><a class="dropdown-item" href="#">Combo Set Mickey's Magic</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    SON MÔI
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Son Thỏi The Stars Collection</a></li>
                    <li><a class="dropdown-item" href="#">Son Nhung Lì SGirls Summer Edition</a></li>
                    <li><a class="dropdown-item" href="#">Son Love M.O.I Tropical</a></li>
                    <li><a class="dropdown-item" href="#">Son Thỏi M.O.I X Công Trí</a></li>
                    <li><a class="dropdown-item" href="#">Son Thỏi M.O.I by Thủy Tiên</a></li>
                    <li><a class="dropdown-item" href="#">Son Thỏi Mini Golden Gift</a></li>
                    <li><a class="dropdown-item" href="#">Son Thỏi Love M.O.I Spectial Edition</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    PHẤN TRANG ĐIỂM
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Phấn Phủ Baby Skin</a></li>
                    <li><a class="dropdown-item" href="#">Phấn Nước Baby Skin Cushion</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    CHÌ KẺ MẮT
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Chì Kẻ Mày EyeBrow Magic Brow Pencil</a></li>
                </ul>
            </li>
            <div class="container-fluid">
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" ng-model="searchText">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
            <li class="nav-item m-1">
                <div ng-include="'layout/cart.html'"></div>
            </li>
            <li class="nav-item m-1">
                <div ng-include="'layout/login.html'"></div>
            </li>
        </ul>
    </div>
</div>