<div class="container">
    <div class="product-page">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <img src="img/info-sp.png" class="img-fluid" alt="">
                <div class="row m-3">
                    <hr>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="prev">
                        <span aria-hidden="true" style="font-size: 50px;">
                            <i class="bi bi-chevron-left"></i></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <img src="img/info-sp1.png" class="img-thumbnail" style="width: 100px;" alt="...">
                    <img src="img/info-sp3.png" class="img-thumbnail" style="width: 100px;" alt="...">
                    <img src="img/info-sp2.png" class="img-thumbnail" style="width: 100px;" alt="...">
                    <img src="img/info-sp4.png" class="img-thumbnail" style="width: 100px;" alt="...">
                    <img src="img/info-sp5.png" class="img-thumbnail" style="width: 100px;" alt="...">
                    <img src="img/info-sp7.png" class="img-thumbnail" style="width: 100px;" alt="...">
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="next">
                        <span aria-hidden="true" style="font-size: 50px;"><i class="bi bi-chevron-right"></i></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="col-sm-6 col-sm-6">
                <h1 class="title">
                    [ Tặng 1 Ví Dài Cao Cấp] Set 6 Son thỏi M.O.I Sparkling Matte The Stars Collection
                </h1>
                <div class="product-reviews-overviews d-flex">
                    <div class="raiting-box d-flex align-items-center" title="0 bài đánh giá">
                        <i class="bi bi-star"></i>
                        <i class="bi bi-star"></i>
                        <i class="bi bi-star"></i>
                        <i class="bi bi-star"></i>
                        <i class="bi bi-star"></i>
                    </div>
                </div>
                <div class="d-flex justify-content-between mt-1">
                    <span class="price text-danger actual-price fs-2 fw-bolder">2.999.999đ</span>
                </div>
                <div class="add-to-cart">
                    <div class="add-to-cart-card d-flex align-items-center">
                        <label class="qty-label text-dark mb-0 ms-1">Số lượng: </label>
                        <div class="bmd-form-group is-filled">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <button class="btn btn-outline-secondary" type="submit">-</button>
                                </div>
                                <input type="number" value="1" class="form-control form-control-sm text-center">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="submit">+</button>
                                </div>
                                <button type="submit" class="btn btn-danger btn-round rounded-pill">Mua
                                    Ngay</button>
                            </div>

                        </div>
                    </div>
                    <div class="accordion m-2" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Thông tin chi tiết
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>Son thỏi M.O.I Sparkling Matte The Stars Collection là sự kết hợp hoàn hảo
                                        giữa Ngôi Sao Hạn A Hồ Ngọc Hà cùng Siêu Mẫu Thanh Hằng đã tạo ra một “tuyệt
                                        tác” cả về vỏ son lẫn chất son. BST THE STARS phiên bản giới hạn mùa lễ hội
                                        cực kì lung linh và tuyệt đẹp lấp lánh tựa như những thỏi pha lê kim cương,
                                        giúp bạn tự tin toả sáng như một ngôi sao dù bất kể bạn là ai.
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <p><strong style="color: #e74c3c; font-size: 16px;">BỘ SƯU TẬP SON THỎI THE STARS PHIÊN BẢN GIỚI HẠN MÙA LỄ
                    HỘI</strong></p>
            <p style="color: #2ecc71; font-size: 16px;">Xuất xứ sản phẩm: Hàn Quốc (Made in Korea).</p>
            <p style="color: #2ecc71; font-size: 16px;">*Sản phẩm đã được cấp giấy phép chứng nhận tiêu chuẩn chất lượng
                ở 2 quốc gia Hàn Quốc – Việt Nam.</p>
            <p style="font-size: 16px;">Cú bắt tay bùng nổ giữa <span style="color: #2ecc71;"><strong>Nữ Hoàng Giải Trí
                        Hồ Ngọc Hà </strong></span> và <span style="color: #2ecc71;"><strong>Siêu Mẫu Thanh Hằng
                    </strong></span> để cho ra mắt <span style="color: #2ecc71;"><strong>BST SON THỎI THE STARS PHIÊN
                        BẢN GIỚI HẠN MÙA LỄ HỘI</strong></span> cực kì lung linh và tuyệt đẹp ngoài sức tưởng tượng sẽ
                gây chấn động.</p>
            <p style="font-size: 16px;">Những thỏi son lấp lánh tựa như những thỏi pha lê kim cương tuyệt đẹp, giúp bạn
                tự tin toả sáng như một ngôi sao dù bất kể bạn là ai.</p>
        </div>
        <div class="row">
            <p><strong style="color: #e74c3c; font-size: 16px;">CẬN CẢNH BST SON THE STARS:</strong></p>
            <video src="img/video-info-sp.mp4" class="d-block m-auto" style="width: 300px; height: auto;"
                controls></video>
        </div>
    </div>
</div>