<div class="container">
    <div class="row text-center m-3">
        <h1>TIN TỨC</h1>
        <div class="col-12 col-md-4">
            <div class="card card-blog">
                <div class="card card-header card-header-image">
                    <img src="img/tintuc1.png" class="img-fluid" alt="">
                </div>
                <div class="card-body">
                    <div class="card-title">
                        Hồ Ngọc Hà Bắt Tay Cùng Siêu Mẫu Thanh Hằng Cho Ra Mắt BST Son Thỏi M.O.I The Stars Phiên Bản Mùa Lễ Hỗi
                    </div>
                </div>
                <div class="card-footer align-self-end">
                    <div class="btn btn-round btn-info btn-link" style="text-decoration: none;">Chi tiết</div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card card-blog">
                <div class="card card-header card-header-image">
                    <img src="img/tintuc1.png" class="img-fluid" alt="">
                </div>
                <div class="card-body">
                    <div class="card-title">
                        Hồ Ngọc Hà Bắt Tay Cùng Siêu Mẫu Thanh Hằng Cho Ra Mắt BST Son Thỏi M.O.I The Stars Phiên Bản Mùa Lễ Hỗi
                    </div>
                </div>
                <div class="card-footer align-self-end">
                    <div class="btn btn-round btn-info btn-link" style="text-decoration: none;">Chi tiết</div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card card-blog">
                <div class="card card-header card-header-image">
                    <img src="img/tintuc1.png" class="img-fluid" alt="">
                </div>
                <div class="card-body">
                    <div class="card-title">
                        Hồ Ngọc Hà Bắt Tay Cùng Siêu Mẫu Thanh Hằng Cho Ra Mắt BST Son Thỏi M.O.I The Stars Phiên Bản Mùa Lễ Hỗi
                    </div>
                </div>
                <div class="card-footer align-self-end">
                    <div class="btn btn-round btn-info btn-link" style="text-decoration: none;">Chi tiết</div>
                </div>
            </div>
        </div>
    </div>
</div>